.UploadButton{
    background-color: #d1c9b6;
    Border-radius: 7px;
    color: #58391a;
    border: 0px;
}

.UploadButton:hover{
    background-color: #beb7a6;
}

.UploadButton:Onclick{
    background-color: #ccb297;
}

.UploadButtonDiv{
    margin-bottom: 50px;
}